.admin-wrapper {
    background-image: url(../img/bg/Фон.svg);
    background-position: center;
    background-size: cover;
    display: flex;
    min-height: 100vh;
    font-family: "Manrope", sans-serif;
    border-top: 2px solid #D3D3D3;
    margin-top: 1px;
    flex-direction: row;

    @media (max-width: 768px) {
        flex-direction: column;
    }
}

.admin-left {
    width: 20%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-right: 2px solid #D3D3D3;

    .dashboard {
        display: flex;
        align-items: center;
        gap: 10px;
        justify-content: center;

        &__img {
            width: 24px;
            height: 24px;
        }

        &__text {
            font-weight: 600;
            color: #848484;
        }
    }

    &__line {
        margin: 10px 0;
        border: none;
        height: 1px;
        background-color: #D3D3D3;
    }

    &__titles {
        display: flex;
        flex-direction: column;
        gap: 30px;
        font-size: 16px;
        font-weight: 500;

        div {
            cursor: pointer;

            &:hover {
                color: #e0aa5a;
            }
        }
    }

    @media (max-width: 768px) {
        width: 100%;
        border-right: none;
        border-bottom: 2px solid #D3D3D3;
        padding: 10px;
        .dashboard {
            justify-content: flex-start;
        }
    }
}

.admin {
    width: 100%;

    &__title {
        font-size: 20px;
        font-weight: 700;
        padding: 10px 11px;
    }

    &__line {
        border: none;
        height: 2px;
        background-color: #D3D3D3;
        margin-bottom: 20px;
    }

    &__buttons {
        display: flex;
        gap: 20px;
        margin-bottom: 20px;
        padding: 5px 11px;
        flex-wrap: wrap;

        button {
            padding: 0 10px;
            height: 40px;
            border-radius: 20px;
            border: 1px solid #e0aa5ab7;
            font-size: 13px;
            font-weight: 500;
            background: transparent;
            cursor: pointer;

            &.active {
                background: #e0aa5ab7;
            }
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 5px 11px;

        &_flex {
            display: flex;
            flex-direction: column;
            gap: 10px;

            label {
                font-weight: 500;
            }

            input,
            textarea {
                height: 35px;
                border-radius: 10px;
                padding: 10px;
                border: none;
                background: #d1d1d1;
                resize: none;
                width: 100%;
            }

            textarea {
                height: 100px;
            }
        }

        button {
            width: 160px;
            height: 40px;
            background: #d1d1d1;
            font-size: 16px;
            font-weight: 500;
            border: none;
            border-radius: 10px;
            cursor: pointer;
            align-self: flex-start;
        }
    }

    @media (max-width: 768px) {
        &__title {
            font-size: 18px;
            text-align: center;
        }

        &__buttons {
            justify-content: center;
            gap: 10px;
            padding: 5px;
        }

        &__form {
            padding: 5px;
        }
    }
}
