.main-bg {
    background-image: url('../img/sulaimantoo/bg-section.svg');
    background-position: center;
    background-repeat: auto;
}

.aitysh {
    position: relative;
    padding: 25px;
    &__wrapper {
        background-image: url('../img/aitysh/bg.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 20px;
        width: 100%;
        height: 100vh;
    }
    &__title {
        position: absolute;
        left: 5.5%;
        bottom: 100px;
        font-size: 5rem;
            font-family: 'Alegreya', sans-serif;
            font-weight: 500;
            color: #fff;
    }
    @media (max-width: 1300px) {
        &__wrapper {
            height: 80vh;
        }
    }
    @media (max-width: 890px) {
        &__wrapper {
            height: 65vh;
        }
        &__title {
            font-size: 4rem;
            bottom: 80px;
        }
    }
    @media (max-width: 550px) {
        &__wrapper {
            height: 55vh;
        }
        &__title {
            bottom: 50px;
            font-size: 3.5rem;

        }
    }
    @media (max-width: 450px) {
        &__wrapper {
            height: 40vh;
        }
        &__title {
            left: 10%;
            bottom: 50px;
            font-size: 2.5rem;
        }
    }
}

.aitysh-second {
    padding: 0 0 65px;
    @for $i from 1 through 17 {
        &__text#{$i} {
            font-family:'Nunito', sans-serif;
            font-size: 1.5rem;
            color: #000;
            font-weight: 500;
            margin-top: 40px;
        }
    }
    &__text1 {
        margin-bottom: 30px;
        margin-top: 30px;
    }
    &__text2 {
        margin-bottom: 30px;
        margin-top: 60px;

    }
    &__img1 {
        display: block;
        width: 95%;
        margin: 60px auto;
    }
    &__img2 {
        display: flex;
        justify-content: center;
        gap: 40px;
        margin: 60px auto;
    }
    &__list1 {
        display: flex;
        flex-direction: column;
        padding-left: 25px;
        li {
            list-style: disc;
            font-family:'Nunito', sans-serif;
            font-size: 1.5rem;
            color: #000;
            font-weight: 500;
        }
    }
    &__list2 {
        display: flex;
        flex-direction: column;
        padding-left: 25px;
        margin-top: 30px;
        li {
            list-style: decimal;
            font-family:'Nunito', sans-serif;
            font-size: 1.5rem;
            color: #000;
            font-weight: 500;
        }
    }
    @media (max-width: 1440px) {
        &__img2 {
            flex-wrap: wrap;
            margin: 30px auto;
        }
        p, li {
            font-size: 20px;
        }
    }
    @media (max-width: 840px) {
        &__img1 {
            margin: 20px auto;
        }
        &__img2 {
            flex-wrap: wrap;
            margin: 20px auto;
            img {
                width: 50%;
            }
        }
        p, li {
            font-size: 17px;
        }
    }
    @media (max-width: 440px) {
        p, li {
            font-size: 15px;
        }
        &__img1 {
            margin: 5px auto;
            width: 100%;
        }
        &__img2 {
            flex-wrap: wrap;
            margin: 10px auto;
            img {
                width: 80%;
            }
        }

    }
}