.header {
    background: #F3E4D0;
    width: 100%;

        .nav {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 105px;
            .logo {
                font-size: 30px;
                font-weight: 700;
                font-family: "Manrope", sans-serif;
            }
            .menu {
                display: flex;
                gap: 30px;
                align-items: center;
                &-active {
                    border: 1px solid #B57049;
                    border-radius: 68px;
                    padding: 8px 15px;
                }
                &-item {
                    font-size: 20px;
                    font-weight: 700;
                    font-family: "Manrope", sans-serif;
                    color: #000;
                    transition: .2s ease-in-out;
                    &:hover {
                        color: #b97a55;
                    }
                }

            }
        }
}