.main-bg {
    background-image: url('../img/sulaimantoo/bg-section.svg');
    background-position: center;
    background-repeat: auto;
}

.komuz {
    position: relative;
    padding: 25px;
    &__wrapper {
        background-image: url('../img/komuz/bg.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 20px;
        width: 100%;
        height: 100vh;
    }
    &__title {
        position: absolute;
        left: 5.5%;
        bottom: 60%;
        font-size: 5rem;
            font-family: 'Alegreya', sans-serif;
            font-weight: 500;
            color: #473329;
    }
    &__subtitle {
        font-family: 'Alegreya', sans-serif;
        font-weight: 500;
        color: #473329;
        font-size: 2.5rem;
        position: absolute;
        left: 5.5%;
        bottom: 45%;
    }
    @media (max-width: 1300px) {
        &__wrapper {
            height: 80vh;
        }
        &__subtitle {
            font-size: 2rem;
        }
    }
    @media (max-width: 890px) {
        &__wrapper {
            height: 65vh;
        }
        &__title {
            font-size: 4rem;
        }
    }
    @media (max-width: 550px) {
        &__wrapper {
            height: 55vh;
        }
        &__title {
            bottom: 70%;
            font-size: 3.5rem;
            left: 10%;
        }
        &__subtitle {
            left: 10%;
            bottom: 55%;
            font-size: 2rem;
        }
    }
    @media (max-width: 450px) {
        &__wrapper {
            height: 40vh;
        }
        &__title {
            left: 10%;
            bottom: 70%;
            font-size: 2.5rem;
        }
        &__subtitle {
            left: 10%;
            bottom: 55%;
            font-size: 1.5rem;
        }
    }
}

.komuz-second {
    padding: 0 0 65px;
    @for $i from 1 through 17 {
        &__text#{$i} {
            font-family:'Nunito', sans-serif;
            font-size: 1.5rem;
            color: #000;
            font-weight: 500;
            margin-top: 40px;
        }
    }
    @for $i from 1 through 6 {
        &__title#{$i} {
            font-family:'Nunito', sans-serif;
            font-size: 2rem;
            color: #000;
            font-weight: 700;
        }
    }
    &__text1 {
        margin-bottom: 30px;
        margin-top: 30px;
    }
    &__text2 {
        margin-bottom: 30px;
        margin-top: 60px;

    }
    &__img1 {
        display: block;
        margin: 60px auto;
    }
    &__img2 {
        display: flex;
        justify-content: center;
        margin: 60px auto;
        width: 90%;
    }
    &__img3 {
        display: block;
        margin: 60px auto;
        width: 90%;

    }
    &__img4 {
        display: flex;
        justify-content: center;
        gap: 40px;
        margin: 60px auto;
    }
    &__list1 {
        display: flex;
        flex-direction: column;
        padding-left: 25px;
        li {
            list-style: decimal;
            font-family:'Nunito', sans-serif;
            font-size: 1.5rem;
            color: #000;
            font-weight: 500;
        }
    }
    &__watch {
        font-family:'Nunito', sans-serif;
        font-size: 2rem;
        color: #000;
        font-weight: 700;
        margin-top: 40px;
        margin-bottom: 40px;
    }
    iframe {
        border-radius: 15px;
        width: 50%;
    }
    @media (max-width: 1250px) {
        &__img4 {
            flex-direction: column;
            align-items: center;
        }
    }
    @media (max-width: 1100px) {
        &__img2 {
           width: 90%; 
        }
        &__img3 {
            width: 90%; 
         }
         iframe {
        border-radius: 15px;
        width: 70%;
    }
    }
    @media (max-width: 670px) {
        
        p {
            font-size: 17px;
        }
        li {
            font-size: 17px;
        }
        iframe {
            width: 95%;
            height: 40vh;
        }
        &__img1 {
            width: 100%;
            margin: 10px auto;
        }
        &__img2 {
            width: 100%; 
            margin: 10px auto;
         }
        &__img3 {
            width: 100%; 
            margin: 10px auto;
         }
         &__img4 {
            margin: 10px auto;
            img {
                width: 100%;
            }
         }
    }
}