.main {
    flex: 1 1 auto;

    $maxWidth: 1700;
    @mixin adaptiv-font($pcSize, $mobSize) {
    $addSize: $pcSize - $mobSize;
    $maxWidth: $maxWidth - 320;
    font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
    }
    .hero {
        background: url("../img/bg/Основная картина-горы.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center ;
        height: 80vh;   
        margin: 10px 0 0 0;
        &__inner {
            display: flex;
            flex-direction: column;
            .hero__title {
                margin-top: 300px; 
                font-family: "Alegreya", sans-serif;
                // font-size: 56px;
                @include adaptiv-font(56, 28);
                font-weight: 700;
                text-transform: uppercase;
                color: #fff;
            }
            .hero__subtitle {
                font-family: "Alegreya", sans-serif;
                font-size: 24px;
                font-weight: 500;
                text-transform: uppercase;
                color: #fff;
                margin-top: 15px;
            }
        }
        
    }

    .keeper {
        position: relative;
        padding: 130px 0 50px 0;
        
        &__block-left {
            position: absolute;
            left: 0;
            width: 15%;

        }
        &__block-right {
            position: absolute;
            right: 0;
            width: 15%;
        }
        &__inner {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 100px;
            .keeper__text {
                width: 1200px;
                font-family: "Nunito", sans-serif;
                font-weight: 300;
                font-size: 32px;
                text-align: center;
            }
        }
        @media (max-width: 720px) {
            .keeper__inner .keeper__text {
                font-size: 25px;
            }
        }
        @media (max-width: 470px) {
            .keeper__inner .keeper__text {
                font-size: 20px;
            }
        }
    }
    .cultura {
        background: rgba(232, 201, 161, 0.3);
        box-shadow: 0px 0px 53px 15px rgba(232, 201, 161, 0.4);
        padding: 90px 0 90px 0;
        width: 100%;
        &__title {
            background: #E6774F;
            color: #fff;
            padding: 5px 20px;
            font-size: 28px;
            font-weight: 500;
            font-family: "Nunito", sans-serif;
            border-radius: 18px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 85px;
            transition: .3s ease-in-out;
            &:hover {
                background: rgb(156, 68, 36);
            }
        }
        &__cards {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            
        }
        @media (max-width: 1000px) and (min-width: 720px) {
            .cultura__cards {
                justify-content: center;
                gap: 20px;
            }
            .cultura__card {
                width: 60%;
                img {
                    width: 100%;
                }
            }
            .cultura__title {
                margin-bottom: 15px;
                font-size: 18px;
            }
        }
        @media (max-width: 720px) and (min-width: 580px) {
            .cultura__cards {
                justify-content: center;
                flex-direction: column;
                gap: 40px;
            }
            .cultura__card {
                width: 70%;
                img {
                    width: 100%;
                }
            }
            .cultura__title {
                margin-bottom: 15px;
                font-size: 18px;
                
            }
        }
        @media (max-width: 580px) {
            .cultura__cards {
                justify-content: center;
                flex-direction: column;
                gap: 40px;
            }
            .cultura__card {
                width: 100%;
                img {
                    width: 100%;
                }
            }
            .cultura__title {
                margin-bottom: 15px;
                font-size: 18px;
                
            }
        }
    }
    .patterns {
        display: flex;
        margin: 45px 25px;
    }


    // СТРАНИЦА ПАМЯТНИКИ


    .monument {
        margin: 10px 0 0 0;

        // background: url("../img/bg/monuments-bg.svg");
        // background-size: cover;
        // background-repeat: no-repeat;
        // background-position: center ;
        img {
            width: 100%;
        }
        
    }

    .historicalmonuments {
        padding: 60px 0 90px 0;
        .tradition-text {
            text-align: center;
            font-size: 30px;
            padding: 0 20px;
        }
        &__wrapper {
            display: flex;
            justify-content: space-between;
            div {
                color: #000;
                font-size: 24px;
                font-family: 'Nunito', sans-serif;
                padding: 0 100px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: 500;
            }
        }
        @media (max-width: 1100px) {
            &__wrapper div {
                font-size: 20px;
                padding: 0 50px;
            }
            .tradition-text {
                font-size: 24px !important;
                padding: 0 50px;
            }
        }
        @media (max-width: 800px) {
            
            &__wrapper img {
                    display: none;
            }
            .tradition-text {
                font-size: 22px !important;
                padding: 0 50px;
            }
        }
    }

    .monumentgallery {
        background: rgba(199, 195, 215, 0.47);
        box-shadow: 0px 0px 53px 15px rgba(199, 195, 215, 0.6);
        padding: 45px 0;
        &__cards {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            gap: 20px;
        }
        &__card {
            // background: linear-gradient(180deg, #E6E3E3 60%, #e7e7e7 84%, #A6B8E0 100%);
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            border-radius: 16px;
            div {
                padding: 5px 18px;
                height: 40px;
                color: #000;
                font-size: 24px;
                font-family: 'Manrope', sans-serif;
                font-weight: 500;
                background: #d9d9d942;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 18px;
                border: 0.5px solid #00000052;
                margin: 15px;
            }
        }
        .monumentgallery__cards {
            a:nth-child(1) .monumentgallery__card {
                background: linear-gradient(180deg, #E6E3E3 60%, #e7e7e7 83%, #A6B8E0 100%);
            }
            a:nth-child(2) .monumentgallery__card {
                background: linear-gradient(180deg, #E6E3E3 60%, #e7e7e7 83%, #C7966F 100%);
            }
            a:nth-child(3) .monumentgallery__card {
                background: linear-gradient(180deg, #E6E3E3 60%, #e7e7e7 83%, #8D7644 100%);
            }
            a:nth-child(4) .monumentgallery__card {
                background: linear-gradient(180deg, #E6E3E3 60%, #e7e7e7 83%, #E09C63 100%);
            }
            a:nth-child(5) .monumentgallery__card {
                background: linear-gradient(180deg, #E6E3E3 60%, #e7e7e7 83%, #9BC8DB 100%);
            }
            a:nth-child(6) .monumentgallery__card {
                background: linear-gradient(180deg, #E6E3E3 60%, #e7e7e7 83%, #82B6F2 100%);
            }
          }
          @media (max-width: 1000px) {
            &__cards {
                justify-content: center;
            }
          }
          @media (max-width: 450px) {
            &__cards {
                justify-content: center;
            }
            &__card {
                width: 330px;
                img {
                    width: 100%;
                }
            }
          }
          
    }

    .goat {
        padding: 77px 0 45px 0;
        &__wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        @media (max-width: 1070px) {
            .chu img {
                width: 220px;    
            }
        }
        @media (max-width: 820px) {
            .chu img {
                width: 180px;    
            }
        }
        @media (max-width: 750px) {
            &__wrapper img {
                width: 150px !important;    
            }
        }
        @media (max-width: 520px) {
            &__wrapper img {
                width: 110px !important;    
            }
        }
    }


    // СТРАНИЦА ТРАДИЦИИ

   


    .traditions {
        padding: 45px 0;
        &__cards {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            gap: 20px;
        }
        &__card {
            // background: linear-gradient(180deg, #E6E3E3 60%, #e7e7e7 84%, #A6B8E0 100%);
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            border-radius: 16px;
            div {
                padding: 5px 18px;
                height: 40px;
                color: #000;
                font-family: 'Manrope', sans-serif;
                font-size: 24px;
                font-weight: 500;
                background: #d9d9d942;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 18px;
                border: 0.5px solid #00000052;
                margin: 15px;
            }
        }
        .traditions__cards {
            a:nth-child(1) .traditions__card {
                background: linear-gradient(180deg, #E6E3E3 60%, #e7e7e7 83%, #B7684E 100%);
            }
            a:nth-child(2) .traditions__card {
                background: linear-gradient(180deg, #E6E3E3 60%, #e7e7e7 83%, #FC8764 100%);
            }
            a:nth-child(3) .traditions__card {
                background: linear-gradient(180deg, #E6E3E3 60%, #e7e7e7 83%, #D48230 100%);
            }
            a:nth-child(4) .traditions__card {
                background: linear-gradient(180deg, #E6E3E3 60%, #e7e7e7 83%, #AF8765 100%);
            }
            a:nth-child(5) .traditions__card {
                background: linear-gradient(180deg, #E6E3E3 60%, #e7e7e7 83%, #E6E3E3 100%);
            }
            a:nth-child(6) .traditions__card {
                background: linear-gradient(180deg, #E6E3E3 60%, #e7e7e7 83%, #82B6F2 100%);
            }
          }
          @media (max-width: 1000px) {
            &__cards {
                justify-content: center;
            }
          }
          @media (max-width: 450px) {
            &__cards {
                justify-content: center;
            }
            &__card {
                width: 330px;
                img {
                    width: 100%;
                }
            }
          }
    }


    // СТРАНИЦА НАСЛЕДИЕ
    .heritage {
        margin-top: 75px;
        position: relative;
        background: none;
    
        &__bg {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #e8c9a136;
            filter: blur(80px); 
            z-index: 1;
            border-radius: 16px;
        }
    
        &__wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 150px 0;
            position: relative;
            z-index: 2; 
        }
    
        &__text {
            @include adaptiv-font(30, 15);
            font-family: 'Nunito', sans-serif;
            text-align: center;
            z-index: 2;
        }
    
        &__img-bg1, 
        &__img-bg2 {
            position: absolute;
            z-index: 2;
        }
    
        &__img-bg1 {
            top: -90px;
            left: 20px;
        }
    
        &__img-bg2 {
            bottom: -90px;
            right: 20px;
        }
        @media (max-width: 1280px) {
            &__img-bg1, 
            &__img-bg2 {
                width: 300px !important;
            }
        }
        @media (max-width: 1000px) {
            &__img-bg1, 
            &__img-bg2 {
                width: 230px !important;
            }
        }
        
        @media (max-width: 690px) {
            &__img-bg1, 
            &__img-bg2 {
                display: none;
            }
            &__wrapper {
                padding: 5px 0;
            }
        }
    }
    

    .heritageAlbom {
        padding: 45px 0;
        &__cards {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            gap: 20px;
        }
        &__card {
            // background: linear-gradient(180deg, #E6E3E3 60%, #e7e7e7 84%, #A6B8E0 100%);
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            border-radius: 16px;
            div {
                width: 185px;
                height: 40px;
                color: #000;
                font-family: 'Manrope', sans-serif;
                font-size: 24px;
                font-weight: 500;
                background: #d9d9d942;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 18px;
                border: 0.5px solid #00000052;
                margin: 15px;
            }
        }
        .heritageAlbom__cards {
            a:nth-child(1) .heritageAlbom__card {
              background: linear-gradient(180deg, #E6E3E3 60%, #e7e7e7 83%, #E8B77C 100%);
            }
            a:nth-child(2) .heritageAlbom__card {
              background: linear-gradient(180deg, #E6E3E3 60%, #e7e7e7 83%, #E9685D 100%);
            }
            a:nth-child(3) .heritageAlbom__card {
              background: linear-gradient(180deg, #E6E3E3 60%, #e7e7e7 83%, #C69788 100%);
            }
            a:nth-child(4) .heritageAlbom__card {
              background: linear-gradient(180deg, #E6E3E3 60%, #e7e7e7 83%, #612A25 100%);
            }
            a:nth-child(5) .heritageAlbom__card {
              background: linear-gradient(180deg, #b1713c75 60%, #b1713c86 83%, #735622 100%);
            }
            a:nth-child(6) .heritageAlbom__card {
              background: linear-gradient(180deg, #E6E3E3 60%, #e7e7e7 83%, #B1703C 100%);
            }
          }
          @media (max-width: 1004px) {
            &__cards {
                justify-content: center;
            }
        }
        @media (max-width: 450px) {
            &__cards {
                justify-content: center;
            }
            &__card {
                width: 330px;
                img {
                    width: 100%;
                }
            }
          }
    }


    // БУРАНА 

    .all-bg {
        background: url('../img/bg/Фон.svg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center ;
    }

    .burana {
        position: relative;
        padding: 25px;
        &__wrapper {
            background-image: url('../img/burana/bg/bg.svg');
            background-size: cover;
            background-repeat: no-repeat;
            
            background-position: center ;
            border-radius: 20px;
            width: 100%;
            height: 100vh;
        }
        &__title {
            position: absolute;
            left: 5.5%;
            bottom: 100px;
            h1 {
                @include adaptiv-font(80, 40);
                font-family: 'Alegreya', sans-serif;
                font-weight: 500;
                color: #fff;
            }
            div {
                @include adaptiv-font(24, 14);
                font-family: 'Alegreya', sans-serif;
                font-weight: 500;
                color: #fff;
            }
        }
        @media (max-width: 1300px) {
            &__wrapper {
                height: 80vh;
            }
        }
        @media (max-width: 890px) {
            &__wrapper {
                height: 65vh;
            }
        }
        @media (max-width: 550px) {
            &__wrapper {
                height: 55vh;
            }
        }
        @media (max-width: 450px) {
            &__wrapper {
                height: 40vh;
            }
            &__title {
                left: 7%;
            }
        }
    }

    .buranainfo {
        padding: 80px 0 100px 0;
        &__text {
            &-1{
                font-size: 24px;
                font-family: 'Nunito', sans-serif;
                font-weight: 500;
            
            }
            &-2{
                font-size: 24px;
                font-family: 'Nunito', sans-serif;
                font-weight: 500;
                margin-top: 50px;
            }
            &-3 {
                font-size: 24px;
                font-family: 'Nunito', sans-serif;
                font-weight: 500;
                margin-top: 100px;
            }
            &-4 {
                font-size: 24px;
                font-family: 'Nunito', sans-serif;
                font-weight: 500;
                margin-top: 50px;
            }
            &-5 {
                font-size: 24px;
                font-family: 'Nunito', sans-serif;
                font-weight: 500;
                margin-bottom: 80px;
            }
            &-6 {
                font-size: 24px;
                font-family: 'Nunito', sans-serif;
                font-weight: 500;
                margin-top: 80px;
                ul {
                    padding: 0 25px;
                    li {
                        list-style-type: disc;
                         
                    }
                }
            }
            &-map {
                font-size: 24px;
                color: #000;
                font-weight: 700;
                font-family: 'Nunito', sans-serif;
                margin-bottom: 80px;
            }
        }
        &__gallery {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 20px;
        }
        @media (max-width: 1062px) {
            &__gallery {
                justify-content: center !important;
                padding: 20px;
            }
            p, li {
                font-size: 20px;
            }
        }
        @media (max-width: 700px) {
            iframe {
                width: 80%;
            }
            p, li {
                font-size: 17px;
            }
        }
        @media (max-width: 520px) {
            &__gallery {
                img {
                    width: 370px;
                }
            }
            iframe {
                width: 335px;
            }
            p, li {
                font-size: 14px;
            }
        }
    }
    
    // Колыбель


    .lullaby {
        position: relative;
        padding: 25px;
        img {
            width: 100%;
        }
        div {
            position: absolute;
            left: 5.5%;
            bottom: 150px;
            font-size: 5rem;
            font-family: 'Alegreya', sans-serif;
            font-weight: 500;
            color: #fff;
        }
        @media (max-width: 1200px) {
            div {
                bottom: 100px;
            }
        }
        @media (max-width: 850px) {
            div {
                bottom: 90px;
                font-size: 4rem;
            }
        }
        @media (max-width: 700px) {
            div {
                bottom: 80px;
                font-size: 3rem;
            }
        }
        @media (max-width: 550px) {
            div {
                bottom: 60px;
                font-size: 2.5rem;
            }
        }
        @media (max-width: 400px) {
            div {
                bottom: 60px;
                font-size: 2rem;
                left: 10%;
            }
        }
    }
    .lullabyinfo {
        margin-top: 75px;
        padding: 20px 25px;
        background: #e8c9a131;
        img {
            width: 50%;
        }
        &__basement-img{
            width: 100% !important;
        }
        &__text {
            display: flex;
            flex-direction: column;
            align-items: center;
            &-1 {
                font-size: 24px;
                font-family: 'Nunito', sans-serif;
                font-weight: 500;
                margin-bottom: 50px;
            }
            &-2 {
                font-size: 24px;
                font-family: 'Nunito', sans-serif;
                font-weight: 500;
                margin-bottom: 50px;
            }
            &-3 {
                font-size: 24px;
                font-family: 'Nunito', sans-serif;
                font-weight: 500;
                margin-bottom: 100px;
                
            }
            &-4 {
                font-size: 24px;
                font-family: 'Nunito', sans-serif;
                font-weight: 500;
                margin-bottom: 40px;
            }
            &-5 {
                font-size: 24px;
                font-family: 'Nunito', sans-serif;
                font-weight: 500;
                margin: 0 40px;
            }
            &-6 {
                font-size: 24px;
                font-family: 'Nunito', sans-serif;
                font-weight: 500;
                margin: 0 40px;

            }
            &-7 {
                font-size: 24px;
                font-family: 'Nunito', sans-serif;
                font-weight: 500;
                margin: 40px 0 65px 0;
            }
        }
        @media (max-width: 1100px) {
            &__text {
                div {
                    font-size: 22px;
                }
                img {
                    width: 450px;
                }
            }
        }
        @media (max-width: 800px) {
            &__text {
                div {
                    font-size: 19px;
                }
                img {
                    width: 70%;
                }
            }
        }
        @media (max-width: 500px) {
            &__text {
                img {
                    width: 300px;
                }
                div {
                    font-size: 16px;
                }
            }
        }
    }
}

.tradition-bg {
    background: url("../img/traditions/bg/image 41.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center ;
}

