.main {
    flex: 1 1 auto;

    $maxWidth: 1700;
    @mixin adaptiv-font($pcSize, $mobSize) {
    $addSize: $pcSize - $mobSize;
    $maxWidth: $maxWidth - 320;
    font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
    }
    .hero {
        background: url("../img/bg/main-bg.svg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center ;
        height: 80vh;   
        margin: 10px 0 0 0;
        &__inner {
            display: flex;
            flex-direction: column;
            .hero__title {
                margin-top: 200px; 
                font-family: "Alegreya", sans-serif;
                // font-size: 56px;
                @include adaptiv-font(56, 28);
                font-weight: 700;
                text-transform: uppercase;
                color: #fff;
            }
            .hero__subtitle {
                font-family: "Alegreya", sans-serif;
                font-size: 24px;
                font-weight: 500;
                text-transform: uppercase;
                color: #fff;
                margin-top: 15px;
            }
        }
        
    }

    .keeper {
        position: relative;
        padding: 130px 0 50px 0;
        
        &__block-left {
            position: absolute;
            left: 0;
        }
        &__block-right {
            position: absolute;
            right: 0;
        }
        &__inner {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 100px;
            .keeper__text {
                width: 1200px;
                font-family: "Nunito", sans-serif;
                font-weight: 300;
                font-size: 32px;
                text-align: center;
            }
        }
    }
    .cultura {
        background: rgba(232, 201, 161, 0.5);
        box-shadow: 0px 0px 53px 15px rgba(232, 201, 161, 0.7);
        padding: 90px 0 90px 0;
        width: 100%;
        &__title {
            background: #E6774F;
            color: #fff;
            padding: 5px 20px;
            font-size: 28px;
            font-weight: 500;
            font-family: "Nunito", sans-serif;
            border-radius: 18px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 85px;
        }
        &__cards {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            
        }
        
    }
    .patterns {
        display: flex;
        margin: 45px 25px;
    }


    // СТРАНИЦА ПАМЯТНИКИ


    .monument {
        margin: 10px 0 0 0;

        // background: url("../img/bg/monuments-bg.svg");
        // background-size: cover;
        // background-repeat: no-repeat;
        // background-position: center ;
        img {
            width: 100%;
        }
    }

    .historicalmonuments {
        padding: 60px 0 90px 0;
        &__wrapper {
            display: flex;
            justify-content: space-between;
            div {
                color: #000;
                font-size: 24px;
                font-family: 'Nunito', sans-serif;
                padding: 0 100px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: 500;
            }
        }
    }

    .monumentgallery {
        background: #c7c3d777;
        padding: 45px 0;
        &__cards {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            gap: 20px;
        }
        &__card {
            // background: linear-gradient(180deg, #E6E3E3 60%, #e7e7e7 84%, #A6B8E0 100%);
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            border-radius: 16px;
            div {
                width: 185px;
                height: 40px;
                color: #000;
                font-size: 24px;
                font-weight: 500;
                background: #d9d9d942;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 18px;
                border: 0.5px solid #00000052;
                margin: 15px;
            }
        }
        &__card:nth-child(1) {
            background: linear-gradient(180deg, #E6E3E3 60%, #e7e7e7 83%, #A6B8E0 100%);
        }
        &__card:nth-child(2) {
            background: linear-gradient(180deg, #E6E3E3 60%, #e7e7e7 83%, #C7966F 100%);
        }
        &__card:nth-child(3) {
            background: linear-gradient(180deg, #E6E3E3 60%, #e7e7e7 83%, #8D7644 100%);
        }
        &__card:nth-child(4) {
            background: linear-gradient(180deg, #E6E3E3 60%, #e7e7e7 83%, #E09C63 100%);
        }
        &__card:nth-child(5) {
            background: linear-gradient(180deg, #E6E3E3 60%, #e7e7e7 83%, #9BC8DB 100%);
        }
        &__card:nth-child(6) {
            background: linear-gradient(180deg, #E6E3E3 60%, #e7e7e7 83%, #82B6F2 100%);
        }
    }

    .goat {
        padding: 77px 0 45px 0;
        &__wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }


    // СТРАНИЦА ТРАДИЦИИ

   


    .traditions {
        padding: 45px 0;
        &__cards {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            gap: 20px;
        }
        &__card {
            // background: linear-gradient(180deg, #E6E3E3 60%, #e7e7e7 84%, #A6B8E0 100%);
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            border-radius: 16px;
            div {
                width: 185px;
                height: 40px;
                color: #000;
                font-size: 24px;
                font-weight: 500;
                background: #d9d9d942;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 18px;
                border: 0.5px solid #00000052;
                margin: 15px;
            }
        }
        &__card:nth-child(1) {
            background: linear-gradient(180deg, #E6E3E3 60%, #e7e7e7 83%, #B7684E 100%);
        }
        &__card:nth-child(2) {
            background: linear-gradient(180deg, #E6E3E3 60%, #e7e7e7 83%, #FC8764 100%);
        }
        &__card:nth-child(3) {
            background: linear-gradient(180deg, #E6E3E3 60%, #e7e7e7 83%, #D48230 100%);
        }
        &__card:nth-child(4) {
            background: linear-gradient(180deg, #E6E3E3 60%, #e7e7e7 83%, #AF8765 100%);
        }
        &__card:nth-child(5) {
            background: linear-gradient(180deg, #E6E3E3 60%, #e7e7e7 83%, #E6E3E3 100%);
        }
        &__card:nth-child(6) {
            background: linear-gradient(180deg, #E6E3E3 60%, #e7e7e7 83%, #82B6F2 100%);
        }
    }


    // СТРАНИЦА НАСЛЕДИЕ
    .heritage {
        margin-top: 75px;
        background: #e8c9a136;
        position: relative;
        &__wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            
            padding: 150px 0;
        }
        &__text {
            @include adaptiv-font(30, 15);
            font-family: 'Nunito', sans-serif;
            text-align: center;
        }
        &__img-bg1 {
            position: absolute;
            top: -90px;
            left: 20px;
        }
        &__img-bg2 {
            position: absolute;
            bottom: -90px;
            right: 20px;
        }
    }

    .heritageAlbom {
        padding: 45px 0;
        &__cards {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            gap: 20px;
        }
        &__card {
            // background: linear-gradient(180deg, #E6E3E3 60%, #e7e7e7 84%, #A6B8E0 100%);
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            border-radius: 16px;
            div {
                width: 185px;
                height: 40px;
                color: #000;
                font-size: 24px;
                font-weight: 500;
                background: #d9d9d942;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 18px;
                border: 0.5px solid #00000052;
                margin: 15px;
            }
        }
        &__card:nth-child(1) {
            background: linear-gradient(180deg, #E6E3E3 60%, #e7e7e7 83%, #E8B77C 100%);
        }
        &__card:nth-child(2) {
            background: linear-gradient(180deg, #E6E3E3 60%, #e7e7e7 83%, #E9685D 100%);
        }
        &__card:nth-child(3) {
            background: linear-gradient(180deg, #E6E3E3 60%, #e7e7e7 83%, #C69788 100%);
        }
        &__card:nth-child(4) {
            background: linear-gradient(180deg, #E6E3E3 60%, #e7e7e7 83%, #612A25 100%);
        }
        &__card:nth-child(5) {
            background: linear-gradient(180deg, #b1713c75 60%, #b1713c86 83%, #735622 100%);
        }
        &__card:nth-child(6) {
            background: linear-gradient(180deg, #E6E3E3 60%, #e7e7e7 83%, #B1703C 100%);
        }
    }


    // БУРАНА 

    .all-bg {
        background: url('../img/bg/Фон.svg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center ;
    }

    .burana {
        padding: 25px;
        &__wrapper {
            background-image: url('../img/burana/bg/bg.svg');
            background-size: cover;
            background-repeat: no-repeat;
            
            background-position: center ;
            border-radius: 20px;
            width: 100%;
            height: 100vh;
        }
        &__title {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 300px 0 0 0;
            h1 {
                @include adaptiv-font(80, 40);
                font-family: 'Alegreya', sans-serif;
                font-weight: 500;
                color: #fff;
            }
            div {
                @include adaptiv-font(24, 14);
                font-family: 'Alegreya', sans-serif;
                font-weight: 500;
                color: #fff;
            }
        }
    }

    .buranainfo {
        padding: 80px 0 100px 0;
        &__text {
            &-1{
                font-size: 24px;
                font-family: 'Nunito', sans-serif;
                font-weight: 500;
            
            }
            &-2{
                font-size: 24px;
                font-family: 'Nunito', sans-serif;
                font-weight: 500;
                margin-top: 50px;
            }
            &-3 {
                font-size: 24px;
                font-family: 'Nunito', sans-serif;
                font-weight: 500;
                margin-top: 100px;
            }
            &-4 {
                font-size: 24px;
                font-family: 'Nunito', sans-serif;
                font-weight: 500;
                margin-top: 50px;
            }
            &-5 {
                font-size: 24px;
                font-family: 'Nunito', sans-serif;
                font-weight: 500;
                margin-bottom: 80px;
            }
            &-6 {
                font-size: 24px;
                font-family: 'Nunito', sans-serif;
                font-weight: 500;
                margin-top: 80px;
                ul {
                    padding: 0 25px;
                    li {
                        list-style-type: disc;
                         
                    }
                }
            }
        }
        &__gallery {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 20px;
        }
        
    }
    
    // Колыбель


    .lullaby {
        padding: 25px;
        img {
            width: 100%;
            
        }
    }
    .lullabyinfo {
        margin-top: 75px;
        padding: 20px 25px;
        background: #e8c9a131;
        img {
            width: 100%;
        }
        &__text {
            display: flex;
            flex-direction: column;
            align-items: center;
            &-1 {
                font-size: 24px;
                font-family: 'Nunito', sans-serif;
                font-weight: 500;
                margin-bottom: 50px;
            }
            &-2 {
                font-size: 24px;
                font-family: 'Nunito', sans-serif;
                font-weight: 500;
                margin-bottom: 50px;
            }
            &-3 {
                font-size: 24px;
                font-family: 'Nunito', sans-serif;
                font-weight: 500;
                margin-bottom: 100px;
                
            }
            &-4 {
                font-size: 24px;
                font-family: 'Nunito', sans-serif;
                font-weight: 500;
                margin-bottom: 40px;
            }
            &-5 {
                font-size: 24px;
                font-family: 'Nunito', sans-serif;
                font-weight: 500;
                margin: 0 40px;
            }
            &-6 {
                font-size: 24px;
                font-family: 'Nunito', sans-serif;
                font-weight: 500;
                margin: 0 40px;

            }
            &-7 {
                font-size: 24px;
                font-family: 'Nunito', sans-serif;
                font-weight: 500;
                margin: 40px 0 65px 0;
            }
        }
    }
}

.tradition-bg {
    background: url("../img/traditions/bg/image 41.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center ;
}

