$maxWidth: 1700;
    @mixin adaptiv-font($pcSize, $mobSize) {
    $addSize: $pcSize - $mobSize;
    $maxWidth: $maxWidth - 320;
    font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
    }
.manas-bg {
    background-image: url('../img/sulaimantoo/bg-section.svg');
    background-position: center;
    background-repeat: auto;
}

.manas {
    position: relative;
    padding: 25px;
    &__wrapper {
        background-image: url('../img/manasGumbez/Главное фото (2).jpg');
        // background-image: url('../img/tashrabat/image 89.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 20px;
        width: 100%;
        height: 100vh;
    }
    &__title {
        position: absolute;
        left: 5.5%;
        bottom: 100px;
        @include adaptiv-font(80, 40);
            font-family: 'Alegreya', sans-serif;
            font-weight: 500;
            color: #fff;
    }
    @media (max-width: 1300px) {
        &__wrapper {
            height: 80vh;
        }
    }
    @media (max-width: 890px) {
        &__wrapper {
            height: 65vh;
        }
    }
    @media (max-width: 550px) {
        &__wrapper {
            height: 55vh;
        }
        &__title {
            left: 7%;
            font-size: 2.2rem;
        }
    }
    @media (max-width: 450px) {
        &__wrapper {
            height: 40vh;
        }
        &__title {
            left: 7%;
            font-size: 1.7rem;
        }
    }
}
.manas-second {
    &__title1,&__title2, &__title3, &__title4 {
        font-family:'Nunito', sans-serif;
        font-size: 2rem;
        color: #000;
        font-weight: 700;
    }
    @for $i from 1 through 11 {
        &__text#{$i} {
            font-family:'Nunito', sans-serif;
            font-size: 1.5rem;
            color: #000;
            font-weight: 500;
            margin-top: 40px;
        }
    }
    &__map {
        font-family:'Nunito', sans-serif;
        color: #000;
        font-size: 1.8rem;
        font-weight: 700; 
        margin-top: 80px;  
    }
    &__img1, &__img3 {
        display: block;
        margin: 60px auto;
        width: 100%;
    }
    &__img2 {
        display: flex;
        justify-content: center;
        gap: 40px;
        margin: 60px auto;
        flex-wrap: wrap;
    }
    iframe {
        margin: 60px 0;
    }
    @media (max-width: 1200px) {
        iframe {
            width: 80%;
        }
        p, li {
            font-size: 20px;
        }
    }
    @media (max-width: 700px) {
        iframe {
            width: 90%;
        }
        &__img1 {
            margin: 10px auto;
        }
        &__img2 {
            margin: 20px auto;
            img {
                width: 100%;
            }
        }
        &__img3 {
            margin: 10px auto;
        }
        p, li {
            font-size: 16px;
        }
        h3 {
            font-size: 1.5rem;
        }
        &__map {
            font-size: 18px;
        }
    }
}