$maxWidth: 1700;
    @mixin adaptiv-font($pcSize, $mobSize) {
    $addSize: $pcSize - $mobSize;
    $maxWidth: $maxWidth - 320;
    font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
    }
.tashrabat-bg {
    background-image: url('../img/sulaimantoo/bg-section.svg');
    background-position: center;
    background-repeat: auto;
}

.tashrabat {
    position: relative;
    padding: 25px;
    &__wrapper {
        background-image: url('../img/tashrabat/Главное фото (1).jpg');
        // background-image: url('../img/tashrabat/image 89.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 20px;
        width: 100%;
        height: 100vh;
    }
    &__title {
        position: absolute;
        left: 5.5%;
        bottom: 100px;
        @include adaptiv-font(80, 40);
            font-family: 'Alegreya', sans-serif;
            font-weight: 500;
            color: #fff;
    }
    @media (max-width: 1300px) {
        &__wrapper {
            height: 80vh;
        }
    }
    @media (max-width: 890px) {
        &__wrapper {
            height: 65vh;
        }
    }
    @media (max-width: 550px) {
        &__wrapper {
            height: 55vh;
        }
    }
    @media (max-width: 450px) {
        &__wrapper {
            height: 40vh;
        }
        &__title {
            left: 7%;
        }
    } 
}
.tashrabat-second {
    &__title1, &__title2 {
        font-family:'Nunito', sans-serif;
        font-size: 2rem;
        color: #000;
        font-weight: 700;
    }
    &__text1,  &__text2,  &__text3, &__text4, &__text5, &__text6 {
        font-family:'Nunito', sans-serif;
        font-size: 1.5rem;
        color: #000;
        font-weight: 500;
        margin-top: 40px;
    }
    &__img1 {
        display: block;
        margin: 60px auto;
        width: 100%;
    }
    &__img2 {
        display: flex;
        justify-content: center;
        gap: 40px;
        flex-wrap: wrap;
        // margin: 60px auto;
    }
    @media (max-width: 700px) {
        &__img2 {
            margin: 20px auto;
            img {
                width: 100%;
            }
        }
        &__img1 {
            margin: 20px auto;
            width: 100%;
        }
        &__list-center {
            padding: 0;
        }
        p, li {
            font-size: 16px;
        }
    }
}
.tashrabat-third {
    &__title1, &__title2 {
        font-family:'Nunito', sans-serif;
        font-size: 2rem;
        color: #000;
        font-weight: 700;
        padding: 60px 0 0 0;
    }
    &__text1,  &__text2,  &__text3, &__text4, &__text5 {
        font-family:'Nunito', sans-serif;
        font-size: 1.5rem;
        color: #000;
        font-weight: 500;
        margin-top: 40px;
    }
    &__text1 {
        margin-top: 0;
    }
    iframe {
        margin: 60px 0;
    }
    &__img1 {
        display: flex;
        justify-content: center;
        gap: 40px;
        margin: 60px auto;
        flex-wrap: wrap;
    }
    &__map {
        font-family:'Nunito', sans-serif;
        color: #000;
        font-size: 1.8rem;
        font-weight: 700; 
        margin-top: 80px;  
    }
    @media (max-width: 1200px) {
        iframe {
            width: 90%;
        }
        p, li {
            font-size: 20px;
        }
    }
    @media (max-width: 700px) {
        &__img1 {
            margin: 20px auto;
            img {
                width: 100%;
            }
        }
        &__list-center {
            padding: 0;
        }
        iframe {
            width: 90%;
        }
        p, li {
            font-size: 15px;
        }
        h3 {
            font-size: 1.5rem;
        }
        &__map {
            font-size: 19px;

        }
    }
}