.main-bg {
    background-image: url('../img/sulaimantoo/bg-section.svg');
    background-position: center;
    background-repeat: auto;
}

.yurt {
    position: relative;
    padding: 25px;
    &__wrapper {
        background-image: url('../img/yurt/bg.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 20px;
        width: 100%;
        height: 100vh;
    }
    &__title {
        position: absolute;
        left: 5.5%;
        bottom: 30%;
        font-size: 5rem;
            font-family: 'Alegreya', sans-serif;
            font-weight: 500;
            color: #fff;
    }
    &__subtitle {
        font-family: 'Alegreya', sans-serif;
        font-weight: 500;
        color: #fff;
        font-size: 2.5rem;
        position: absolute;
        left: 5.5%;
        bottom: 20%;
    }
    @media (max-width: 1300px) {
        &__wrapper {
            height: 80vh;
        }
    }
    @media (max-width: 890px) {
        &__wrapper {
            height: 65vh;
        }
        &__title {
            font-size: 4rem;
            bottom: 80px;
        }
    }
    @media (max-width: 550px) {
        &__wrapper {
            height: 55vh;
        }
        &__title {
            bottom: 50px;
            font-size: 3.5rem;

        }
    }
    @media (max-width: 450px) {
        &__wrapper {
            height: 40vh;
        }
        &__title {
            left: 10%;
            bottom: 50px;
            font-size: 2.5rem;
        }
    }
}

.yurt-second {
    padding: 0 0 65px;
    @for $i from 1 through 17 {
        &__text#{$i} {
            font-family:'Nunito', sans-serif;
            font-size: 1.5rem;
            color: #000;
            font-weight: 500;
            margin-top: 40px;
        }
    }
    @for $i from 1 through 6 {
        &__title#{$i} {
            font-family:'Nunito', sans-serif;
            font-size: 2rem;
            color: #000;
            font-weight: 700;
        }
    }
    &__text1 {
        margin-bottom: 30px;
        margin-top: 30px;
    }
    &__text2 {
        margin-bottom: 30px;
        margin-top: 60px;

    }
    &__img1 {
        display: block;
        width: 80%;
        margin: 60px auto;
    }
    &__img2 {
        width: 80%;
        margin: 60px auto;
        display: block;
    }
    &__img3 {
        display: block;
        margin: 60px auto;
        width: 80%;
    }
    &__img4 {
        display: block;
        width: 80%;
        margin: 60px auto;
    }
    &__watch {
        font-family:'Nunito', sans-serif;
        font-size: 2rem;
        color: #000;
        font-weight: 700;
        margin-top: 40px;
        margin-bottom: 40px;
    }
    @media (max-width: 950px) {
        p {
            font-size: 20px;
        }
        img {
            width: 90%;
        }
    }
    @media (max-width: 570px) {
        p {
            font-size: 17px;
        }
        img {
            width: 100%;
        }
    }
    @media (max-width: 400px) {
        p {
            font-size: 14px;
        }
        img {
            width: 100%;
        }
    }
}