@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=Manrope:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=Manrope:wght@200..800&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
.header {
  background: #F3E4D0;
  width: 100%;
}
.header .nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 105px;
}
.header .nav .logo {
  font-size: 30px;
  font-weight: 700;
  font-family: "Manrope", sans-serif;
}
.header .nav .menu {
  display: flex;
  gap: 30px;
  align-items: center;
}
.header .nav .menu-active {
  border: 1px solid #B57049;
  border-radius: 68px;
  padding: 8px 15px;
}
.header .nav .menu-item {
  font-size: 20px;
  font-weight: 700;
  font-family: "Manrope", sans-serif;
  color: #000;
  transition: 0.2s ease-in-out;
}
.header .nav .menu-item:hover {
  color: #b97a55;
}

.main {
  flex: 1 1 auto;
}
.main .hero {
  background: url("../img/bg/Основная картина-горы.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 80vh;
  margin: 10px 0 0 0;
}
.main .hero__inner {
  display: flex;
  flex-direction: column;
}
.main .hero__inner .hero__title {
  margin-top: 200px;
  font-family: "Alegreya", sans-serif;
  font-size: calc(28px + 28 * (100vw - 320px) / 1380);
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
}
.main .hero__inner .hero__subtitle {
  font-family: "Alegreya", sans-serif;
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
  color: #fff;
  margin-top: 15px;
}
.main .keeper {
  position: relative;
  padding: 130px 0 50px 0;
}
.main .keeper__block-left {
  position: absolute;
  left: 0;
}
.main .keeper__block-right {
  position: absolute;
  right: 0;
}
.main .keeper__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px;
}
.main .keeper__inner .keeper__text {
  width: 1200px;
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  font-size: 32px;
  text-align: center;
}
.main .cultura {
  background: rgba(232, 201, 161, 0.3);
  box-shadow: 0px 0px 53px 15px rgba(232, 201, 161, 0.4);
  padding: 90px 0 90px 0;
  width: 100%;
}
.main .cultura__title {
  background: #E6774F;
  color: #fff;
  padding: 5px 20px;
  font-size: 28px;
  font-weight: 500;
  font-family: "Nunito", sans-serif;
  border-radius: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 85px;
  transition: 0.3s ease-in-out;
}
.main .cultura__title:hover {
  background: rgb(156, 68, 36);
}
.main .cultura__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.main .patterns {
  display: flex;
  margin: 45px 25px;
}
.main .monument {
  margin: 10px 0 0 0;
}
.main .monument img {
  width: 100%;
}
.main .historicalmonuments {
  padding: 60px 0 90px 0;
}
.main .historicalmonuments .tradition-text {
  text-align: center;
  font-size: 30px;
}
.main .historicalmonuments__wrapper {
  display: flex;
  justify-content: space-between;
}
.main .historicalmonuments__wrapper div {
  color: #000;
  font-size: 24px;
  font-family: "Nunito", sans-serif;
  padding: 0 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}
.main .monumentgallery {
  background: rgba(199, 195, 215, 0.47);
  box-shadow: 0px 0px 53px 15px rgba(199, 195, 215, 0.6);
  padding: 45px 0;
}
.main .monumentgallery__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.main .monumentgallery__card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 16px;
}
.main .monumentgallery__card div {
  padding: 5px 18px;
  height: 40px;
  color: #000;
  font-size: 24px;
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  background: rgba(217, 217, 217, 0.2588235294);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 18px;
  border: 0.5px solid rgba(0, 0, 0, 0.3215686275);
  margin: 15px;
}
.main .monumentgallery__card:nth-child(1) {
  background: linear-gradient(180deg, #E6E3E3 60%, #e7e7e7 83%, #A6B8E0 100%);
}
.main .monumentgallery__card:nth-child(2) {
  background: linear-gradient(180deg, #E6E3E3 60%, #e7e7e7 83%, #C7966F 100%);
}
.main .monumentgallery__card:nth-child(3) {
  background: linear-gradient(180deg, #E6E3E3 60%, #e7e7e7 83%, #8D7644 100%);
}
.main .monumentgallery__card:nth-child(4) {
  background: linear-gradient(180deg, #E6E3E3 60%, #e7e7e7 83%, #E09C63 100%);
}
.main .monumentgallery__card:nth-child(5) {
  background: linear-gradient(180deg, #E6E3E3 60%, #e7e7e7 83%, #9BC8DB 100%);
}
.main .monumentgallery__card:nth-child(6) {
  background: linear-gradient(180deg, #E6E3E3 60%, #e7e7e7 83%, #82B6F2 100%);
}
.main .goat {
  padding: 77px 0 45px 0;
}
.main .goat__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main .traditions {
  padding: 45px 0;
}
.main .traditions__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.main .traditions__card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 16px;
}
.main .traditions__card div {
  padding: 5px 18px;
  height: 40px;
  color: #000;
  font-family: "Manrope", sans-serif;
  font-size: 24px;
  font-weight: 500;
  background: rgba(217, 217, 217, 0.2588235294);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 18px;
  border: 0.5px solid rgba(0, 0, 0, 0.3215686275);
  margin: 15px;
}
.main .traditions__card:nth-child(1) {
  background: linear-gradient(180deg, #E6E3E3 60%, #e7e7e7 83%, #B7684E 100%);
}
.main .traditions__card:nth-child(2) {
  background: linear-gradient(180deg, #E6E3E3 60%, #e7e7e7 83%, #FC8764 100%);
}
.main .traditions__card:nth-child(3) {
  background: linear-gradient(180deg, #E6E3E3 60%, #e7e7e7 83%, #D48230 100%);
}
.main .traditions__card:nth-child(4) {
  background: linear-gradient(180deg, #E6E3E3 60%, #e7e7e7 83%, #AF8765 100%);
}
.main .traditions__card:nth-child(5) {
  background: linear-gradient(180deg, #E6E3E3 60%, #e7e7e7 83%, #E6E3E3 100%);
}
.main .traditions__card:nth-child(6) {
  background: linear-gradient(180deg, #E6E3E3 60%, #e7e7e7 83%, #82B6F2 100%);
}
.main .heritage {
  margin-top: 75px;
  position: relative;
  background: none;
}
.main .heritage__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(232, 201, 161, 0.2117647059);
  filter: blur(80px);
  z-index: 1;
  border-radius: 16px;
}
.main .heritage__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 150px 0;
  position: relative;
  z-index: 2;
}
.main .heritage__text {
  font-size: calc(15px + 15 * (100vw - 320px) / 1060);
  font-family: "Nunito", sans-serif;
  text-align: center;
  z-index: 2;
}
.main .heritage__img-bg1, .main .heritage__img-bg2 {
  position: absolute;
  z-index: 2;
}
.main .heritage__img-bg1 {
  top: -90px;
  left: 20px;
}
.main .heritage__img-bg2 {
  bottom: -90px;
  right: 20px;
}
.main .heritageAlbom {
  padding: 45px 0;
}
.main .heritageAlbom__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.main .heritageAlbom__card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 16px;
}
.main .heritageAlbom__card div {
  width: 185px;
  height: 40px;
  color: #000;
  font-family: "Manrope", sans-serif;
  font-size: 24px;
  font-weight: 500;
  background: rgba(217, 217, 217, 0.2588235294);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 18px;
  border: 0.5px solid rgba(0, 0, 0, 0.3215686275);
  margin: 15px;
}
.main .heritageAlbom__card:nth-child(1) {
  background: linear-gradient(180deg, #E6E3E3 60%, #e7e7e7 83%, #E8B77C 100%);
}
.main .heritageAlbom__card:nth-child(2) {
  background: linear-gradient(180deg, #E6E3E3 60%, #e7e7e7 83%, #E9685D 100%);
}
.main .heritageAlbom__card:nth-child(3) {
  background: linear-gradient(180deg, #E6E3E3 60%, #e7e7e7 83%, #C69788 100%);
}
.main .heritageAlbom__card:nth-child(4) {
  background: linear-gradient(180deg, #E6E3E3 60%, #e7e7e7 83%, #612A25 100%);
}
.main .heritageAlbom__card:nth-child(5) {
  background: linear-gradient(180deg, rgba(177, 113, 60, 0.4588235294) 60%, rgba(177, 113, 60, 0.5254901961) 83%, #735622 100%);
}
.main .heritageAlbom__card:nth-child(6) {
  background: linear-gradient(180deg, #E6E3E3 60%, #e7e7e7 83%, #B1703C 100%);
}
.main .all-bg {
  background: url("../img/bg/Фон.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.main .burana {
  position: relative;
  padding: 25px;
}
.main .burana__wrapper {
  background-image: url("../img/burana/bg/bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 20px;
  width: 100%;
  height: 100vh;
}
.main .burana__title {
  position: absolute;
  left: 5.5%;
  bottom: 100px;
}
.main .burana__title h1 {
  font-size: calc(40px + 40 * (100vw - 320px) / 740);
  font-family: "Alegreya", sans-serif;
  font-weight: 500;
  color: #fff;
}
.main .burana__title div {
  font-size: calc(14px + 10 * (100vw - 320px) / 420);
  font-family: "Alegreya", sans-serif;
  font-weight: 500;
  color: #fff;
}
.main .buranainfo {
  padding: 80px 0 100px 0;
}
.main .buranainfo__text-1 {
  font-size: 24px;
  font-family: "Nunito", sans-serif;
  font-weight: 500;
}
.main .buranainfo__text-2 {
  font-size: 24px;
  font-family: "Nunito", sans-serif;
  font-weight: 500;
  margin-top: 50px;
}
.main .buranainfo__text-3 {
  font-size: 24px;
  font-family: "Nunito", sans-serif;
  font-weight: 500;
  margin-top: 100px;
}
.main .buranainfo__text-4 {
  font-size: 24px;
  font-family: "Nunito", sans-serif;
  font-weight: 500;
  margin-top: 50px;
}
.main .buranainfo__text-5 {
  font-size: 24px;
  font-family: "Nunito", sans-serif;
  font-weight: 500;
  margin-bottom: 80px;
}
.main .buranainfo__text-6 {
  font-size: 24px;
  font-family: "Nunito", sans-serif;
  font-weight: 500;
  margin-top: 80px;
}
.main .buranainfo__text-6 ul {
  padding: 0 25px;
}
.main .buranainfo__text-6 ul li {
  list-style-type: disc;
}
.main .buranainfo__text-map {
  font-size: 24px;
  color: #000;
  font-weight: 700;
  font-family: "Nunito", sans-serif;
  margin-bottom: 80px;
}
.main .buranainfo__gallery {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}
.main .lullaby {
  padding: 25px;
}
.main .lullaby img {
  width: 100%;
}
.main .lullabyinfo {
  margin-top: 75px;
  padding: 20px 25px;
  background: rgba(232, 201, 161, 0.1921568627);
}
.main .lullabyinfo img {
  width: 50%;
}
.main .lullabyinfo__basement-img {
  width: 100% !important;
}
.main .lullabyinfo__text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main .lullabyinfo__text-1 {
  font-size: 24px;
  font-family: "Nunito", sans-serif;
  font-weight: 500;
  margin-bottom: 50px;
}
.main .lullabyinfo__text-2 {
  font-size: 24px;
  font-family: "Nunito", sans-serif;
  font-weight: 500;
  margin-bottom: 50px;
}
.main .lullabyinfo__text-3 {
  font-size: 24px;
  font-family: "Nunito", sans-serif;
  font-weight: 500;
  margin-bottom: 100px;
}
.main .lullabyinfo__text-4 {
  font-size: 24px;
  font-family: "Nunito", sans-serif;
  font-weight: 500;
  margin-bottom: 40px;
}
.main .lullabyinfo__text-5 {
  font-size: 24px;
  font-family: "Nunito", sans-serif;
  font-weight: 500;
  margin: 0 40px;
}
.main .lullabyinfo__text-6 {
  font-size: 24px;
  font-family: "Nunito", sans-serif;
  font-weight: 500;
  margin: 0 40px;
}
.main .lullabyinfo__text-7 {
  font-size: 24px;
  font-family: "Nunito", sans-serif;
  font-weight: 500;
  margin: 40px 0 65px 0;
}

.tradition-bg {
  background: url("../img/traditions/bg/image 41.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.footer {
  padding: 60px 20px 60px;
  background: rgba(232, 201, 161, 0.4745098039);
}
.footer__title {
  font-size: 40px;
  font-weight: 900;
  font-family: "Alegreya", sans-serif;
  color: #E6774F;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
}
.footer__contacs {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.footer__contacs-item {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.footer__location a {
  display: flex;
  align-items: center;
}
.footer__location a p {
  color: #757575;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-weight: 500;
}
.footer__insta a {
  display: flex;
  align-items: center;
  gap: 5px;
}
.footer__insta a p {
  color: #757575;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-weight: 500;
}
.footer__copyright {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__copyright p {
  color: #757575;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-weight: 500;
}
.footer__tel a {
  display: flex;
  align-items: center;
}
.footer__tel a p {
  color: #757575;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-weight: 500;
}
.footer__mail a {
  display: flex;
  align-items: center;
  gap: 5px;
}
.footer__mail a p {
  color: #757575;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.sulaiman-bg {
  background-image: url("../img/sulaimantoo/bg-section.svg");
  background-position: center;
  background-repeat: auto;
}

.sulaiman {
  position: relative;
  padding: 25px;
}
.sulaiman__wrapper {
  background-image: url("../img/sulaimantoo/Главное фото.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 20px;
  width: 100%;
  height: 100vh;
}
.sulaiman__title {
  position: absolute;
  right: 5.5%;
  bottom: 100px;
  font-size: 5rem;
}
.sulaiman__title h1 {
  font-family: "Alegreya", sans-serif;
  font-weight: 500;
  color: #fff;
}

.sulaiman-info {
  padding: 60px 0 0 0;
}
.sulaiman-info__title, .sulaiman-info__text1, .sulaiman-info__text2, .sulaiman-info__text3, .sulaiman-info__text4 {
  font-family: "Nunito", sans-serif;
  font-size: 1.5rem;
  color: #000;
  font-weight: 500;
}
.sulaiman-info__text2 {
  margin-top: 30px;
}
.sulaiman-info__text3 {
  margin-top: 20px;
}
.sulaiman-info__text4 {
  margin-top: 20px;
}
.sulaiman-info__subtitle {
  font-family: "Nunito", sans-serif;
  font-size: 2rem;
  color: #000;
  font-weight: 700;
  margin-top: 30px;
}
.sulaiman-info__img {
  display: flex;
  margin: 60px auto;
}

.sulaiman-places__text1, .sulaiman-places__text2, .sulaiman-places__text3, .sulaiman-places__text4, .sulaiman-places__text5, .sulaiman-places__text6 {
  font-family: "Nunito", sans-serif;
  font-size: 1.5rem;
  color: #000;
  font-weight: 500;
}
.sulaiman-places__title {
  font-family: "Nunito", sans-serif;
  font-size: 2rem;
  color: #000;
  font-weight: 700;
  margin-top: 30px;
}
.sulaiman-places__subtitle {
  font-family: "Nunito", sans-serif;
  font-size: 2rem;
  color: #000;
  font-weight: 700;
  margin-top: 30px;
}
.sulaiman-places__text1 {
  margin-top: 30px;
}
.sulaiman-places__list1 {
  display: flex;
  flex-direction: column;
  padding: 0 30px;
  gap: 30px;
}
.sulaiman-places__list1 li {
  list-style: disc;
  font-family: "Nunito", sans-serif;
  font-size: 1.5rem;
  color: #000;
  font-weight: 500;
}
.sulaiman-places__img1 {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 60px 0;
}
.sulaiman-places__img2 {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 60px 0;
}
.sulaiman-places__list-center {
  display: flex;
  flex-direction: column;
  padding: 0 100px;
  margin-top: 20px;
}
.sulaiman-places__list2 {
  display: flex;
  flex-direction: column;
  padding: 0 30px;
  gap: 40px;
}
.sulaiman-places__list2 li {
  list-style: disc;
  font-family: "Nunito", sans-serif;
  font-size: 1.5rem;
  color: #000;
  font-weight: 500;
}

.sulaiman-mosque__text1, .sulaiman-mosque__text2, .sulaiman-mosque__text3, .sulaiman-mosque__text4 {
  font-family: "Nunito", sans-serif;
  font-size: 1.5rem;
  color: #000;
  font-weight: 500;
}
.sulaiman-mosque__title {
  font-family: "Nunito", sans-serif;
  font-size: 2rem;
  color: #000;
  font-weight: 700;
  margin-top: 30px;
}
.sulaiman-mosque__title2 {
  font-family: "Nunito", sans-serif;
  font-size: 2rem;
  color: #000;
  font-weight: 700;
  margin-top: 30px;
}
.sulaiman-mosque__title3 {
  font-family: "Nunito", sans-serif;
  font-size: 2rem;
  color: #000;
  font-weight: 700;
  margin-top: 30px;
}
.sulaiman-mosque__text1 {
  margin-top: 30px;
}
.sulaiman-mosque__img1 {
  display: flex;
  margin: 60px auto;
}
.sulaiman-mosque__img2 {
  display: flex;
  margin: 60px auto;
}
.sulaiman-mosque__img3 {
  display: flex;
  margin: 60px auto;
}
.sulaiman-mosque__map {
  font-family: "Nunito", sans-serif;
  color: #000;
  font-size: 1.8rem;
  font-weight: 700;
}
.sulaiman-mosque iframe {
  margin: 60px 0;
}

.tashrabat-bg {
  background-image: url("../img/sulaimantoo/bg-section.svg");
  background-position: center;
  background-repeat: auto;
}

.tashrabat {
  position: relative;
  padding: 25px;
}
.tashrabat__wrapper {
  background-image: url("../img/tashrabat/Главное фото (1).jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 20px;
  width: 100%;
  height: 100vh;
}
.tashrabat__title {
  position: absolute;
  left: 5.5%;
  bottom: 100px;
  font-size: 5rem;
  font-family: "Alegreya", sans-serif;
  font-weight: 500;
  color: #fff;
}

.tashrabat-second__title1, .tashrabat-second__title2 {
  font-family: "Nunito", sans-serif;
  font-size: 2rem;
  color: #000;
  font-weight: 700;
}
.tashrabat-second__text1, .tashrabat-second__text2, .tashrabat-second__text3, .tashrabat-second__text4, .tashrabat-second__text5, .tashrabat-second__text6 {
  font-family: "Nunito", sans-serif;
  font-size: 1.5rem;
  color: #000;
  font-weight: 500;
  margin-top: 40px;
}
.tashrabat-second__img1 {
  display: block;
  margin: 60px auto;
}
.tashrabat-second__img2 {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.tashrabat-third__title1, .tashrabat-third__title2 {
  font-family: "Nunito", sans-serif;
  font-size: 2rem;
  color: #000;
  font-weight: 700;
  padding: 60px 0 0 0;
}
.tashrabat-third__text1, .tashrabat-third__text2, .tashrabat-third__text3, .tashrabat-third__text4, .tashrabat-third__text5 {
  font-family: "Nunito", sans-serif;
  font-size: 1.5rem;
  color: #000;
  font-weight: 500;
  margin-top: 40px;
}
.tashrabat-third__text1 {
  margin-top: 0;
}
.tashrabat-third iframe {
  margin: 60px 0;
}
.tashrabat-third__img1 {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin: 60px auto;
}
.tashrabat-third__map {
  font-family: "Nunito", sans-serif;
  color: #000;
  font-size: 1.8rem;
  font-weight: 700;
  margin-top: 80px;
}

.manas-bg {
  background-image: url("../img/sulaimantoo/bg-section.svg");
  background-position: center;
  background-repeat: auto;
}

.manas {
  position: relative;
  padding: 25px;
}
.manas__wrapper {
  background-image: url("../img/manasGumbez/Главное фото (2).jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 20px;
  width: 100%;
  height: 100vh;
}
.manas__title {
  position: absolute;
  left: 5.5%;
  bottom: 100px;
  font-size: 5rem;
  font-family: "Alegreya", sans-serif;
  font-weight: 500;
  color: #fff;
}

.manas-second__title1, .manas-second__title2, .manas-second__title3, .manas-second__title4 {
  font-family: "Nunito", sans-serif;
  font-size: 2rem;
  color: #000;
  font-weight: 700;
}
.manas-second__text1 {
  font-family: "Nunito", sans-serif;
  font-size: 1.5rem;
  color: #000;
  font-weight: 500;
  margin-top: 40px;
}
.manas-second__text2 {
  font-family: "Nunito", sans-serif;
  font-size: 1.5rem;
  color: #000;
  font-weight: 500;
  margin-top: 40px;
}
.manas-second__text3 {
  font-family: "Nunito", sans-serif;
  font-size: 1.5rem;
  color: #000;
  font-weight: 500;
  margin-top: 40px;
}
.manas-second__text4 {
  font-family: "Nunito", sans-serif;
  font-size: 1.5rem;
  color: #000;
  font-weight: 500;
  margin-top: 40px;
}
.manas-second__text5 {
  font-family: "Nunito", sans-serif;
  font-size: 1.5rem;
  color: #000;
  font-weight: 500;
  margin-top: 40px;
}
.manas-second__text6 {
  font-family: "Nunito", sans-serif;
  font-size: 1.5rem;
  color: #000;
  font-weight: 500;
  margin-top: 40px;
}
.manas-second__text7 {
  font-family: "Nunito", sans-serif;
  font-size: 1.5rem;
  color: #000;
  font-weight: 500;
  margin-top: 40px;
}
.manas-second__text8 {
  font-family: "Nunito", sans-serif;
  font-size: 1.5rem;
  color: #000;
  font-weight: 500;
  margin-top: 40px;
}
.manas-second__text9 {
  font-family: "Nunito", sans-serif;
  font-size: 1.5rem;
  color: #000;
  font-weight: 500;
  margin-top: 40px;
}
.manas-second__text10 {
  font-family: "Nunito", sans-serif;
  font-size: 1.5rem;
  color: #000;
  font-weight: 500;
  margin-top: 40px;
}
.manas-second__text11 {
  font-family: "Nunito", sans-serif;
  font-size: 1.5rem;
  color: #000;
  font-weight: 500;
  margin-top: 40px;
}
.manas-second__map {
  font-family: "Nunito", sans-serif;
  color: #000;
  font-size: 1.8rem;
  font-weight: 700;
  margin-top: 80px;
}
.manas-second__img1, .manas-second__img3 {
  display: block;
  margin: 60px auto;
}
.manas-second__img2 {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin: 60px auto;
}
.manas-second iframe {
  margin: 60px 0;
}

.uzgen-bg {
  background-image: url("../img/sulaimantoo/bg-section.svg");
  background-position: center;
  background-repeat: auto;
}

.uzgen {
  position: relative;
  padding: 25px;
}
.uzgen__wrapper {
  background-image: url("../img/uzgen/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 20px;
  width: 100%;
  height: 100vh;
}
.uzgen__title {
  position: absolute;
  left: 5.5%;
  bottom: 100px;
  font-size: 5rem;
  font-family: "Alegreya", sans-serif;
  font-weight: 500;
  color: #fff;
}

.uzgen-second__text1 {
  font-family: "Nunito", sans-serif;
  font-size: 1.5rem;
  color: #000;
  font-weight: 500;
  margin-top: 40px;
}
.uzgen-second__text2 {
  font-family: "Nunito", sans-serif;
  font-size: 1.5rem;
  color: #000;
  font-weight: 500;
  margin-top: 40px;
}
.uzgen-second__text3 {
  font-family: "Nunito", sans-serif;
  font-size: 1.5rem;
  color: #000;
  font-weight: 500;
  margin-top: 40px;
}
.uzgen-second__text4 {
  font-family: "Nunito", sans-serif;
  font-size: 1.5rem;
  color: #000;
  font-weight: 500;
  margin-top: 40px;
}
.uzgen-second__text5 {
  font-family: "Nunito", sans-serif;
  font-size: 1.5rem;
  color: #000;
  font-weight: 500;
  margin-top: 40px;
}
.uzgen-second__text6 {
  font-family: "Nunito", sans-serif;
  font-size: 1.5rem;
  color: #000;
  font-weight: 500;
  margin-top: 40px;
}
.uzgen-second__text7 {
  font-family: "Nunito", sans-serif;
  font-size: 1.5rem;
  color: #000;
  font-weight: 500;
  margin-top: 40px;
}
.uzgen-second__text8 {
  font-family: "Nunito", sans-serif;
  font-size: 1.5rem;
  color: #000;
  font-weight: 500;
  margin-top: 40px;
}
.uzgen-second__text9 {
  font-family: "Nunito", sans-serif;
  font-size: 1.5rem;
  color: #000;
  font-weight: 500;
  margin-top: 40px;
}
.uzgen-second__text10 {
  font-family: "Nunito", sans-serif;
  font-size: 1.5rem;
  color: #000;
  font-weight: 500;
  margin-top: 40px;
}
.uzgen-second__title1 {
  font-family: "Nunito", sans-serif;
  font-size: 2rem;
  color: #000;
  font-weight: 700;
}
.uzgen-second__title2 {
  font-family: "Nunito", sans-serif;
  font-size: 2rem;
  color: #000;
  font-weight: 700;
}
.uzgen-second__title3 {
  font-family: "Nunito", sans-serif;
  font-size: 2rem;
  color: #000;
  font-weight: 700;
}
.uzgen-second__title4 {
  font-family: "Nunito", sans-serif;
  font-size: 2rem;
  color: #000;
  font-weight: 700;
}
.uzgen-second__title5 {
  font-family: "Nunito", sans-serif;
  font-size: 2rem;
  color: #000;
  font-weight: 700;
}
.uzgen-second__title6 {
  font-family: "Nunito", sans-serif;
  font-size: 2rem;
  color: #000;
  font-weight: 700;
}
.uzgen-second__img1, .uzgen-second__img2 {
  display: block;
  margin: 60px auto;
}
.uzgen-second__title3 {
  margin-top: 40px;
}
.uzgen-second__text3 {
  margin-top: 0;
}
.uzgen-second__text4 {
  margin-top: 0;
  margin-bottom: 30px;
}
.uzgen-second__text5 {
  margin-top: 0;
  margin-bottom: 30px;
}
.uzgen-second__text6 {
  margin-top: 0;
  margin-bottom: 30px;
}
.uzgen-second__list1 {
  display: flex;
  flex-direction: column;
  padding-left: 25px;
}
.uzgen-second__list1 li {
  list-style: decimal;
  font-family: "Nunito", sans-serif;
  font-size: 1.5rem;
  color: #000;
  font-weight: 500;
}
.uzgen-second__map {
  font-family: "Nunito", sans-serif;
  color: #000;
  font-size: 1.8rem;
  font-weight: 700;
  margin-top: 80px;
}
.uzgen-second iframe {
  margin: 60px 0;
}

.fazil-bg {
  background-image: url("../img/sulaimantoo/bg-section.svg");
  background-position: center;
  background-repeat: auto;
}

.fazil {
  position: relative;
  padding: 25px;
}
.fazil__wrapper {
  background-image: url("../img/fazil/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 20px;
  width: 100%;
  height: 100vh;
}
.fazil__title {
  position: absolute;
  left: 5.5%;
  bottom: 100px;
  font-size: 5rem;
  font-family: "Alegreya", sans-serif;
  font-weight: 500;
  color: #fff;
}

.fazil-second__text1 {
  font-family: "Nunito", sans-serif;
  font-size: 1.5rem;
  color: #000;
  font-weight: 500;
  margin-top: 40px;
}
.fazil-second__text2 {
  font-family: "Nunito", sans-serif;
  font-size: 1.5rem;
  color: #000;
  font-weight: 500;
  margin-top: 40px;
}
.fazil-second__text3 {
  font-family: "Nunito", sans-serif;
  font-size: 1.5rem;
  color: #000;
  font-weight: 500;
  margin-top: 40px;
}
.fazil-second__text4 {
  font-family: "Nunito", sans-serif;
  font-size: 1.5rem;
  color: #000;
  font-weight: 500;
  margin-top: 40px;
}
.fazil-second__text5 {
  font-family: "Nunito", sans-serif;
  font-size: 1.5rem;
  color: #000;
  font-weight: 500;
  margin-top: 40px;
}
.fazil-second__text6 {
  font-family: "Nunito", sans-serif;
  font-size: 1.5rem;
  color: #000;
  font-weight: 500;
  margin-top: 40px;
}
.fazil-second__text7 {
  font-family: "Nunito", sans-serif;
  font-size: 1.5rem;
  color: #000;
  font-weight: 500;
  margin-top: 40px;
}
.fazil-second__text8 {
  font-family: "Nunito", sans-serif;
  font-size: 1.5rem;
  color: #000;
  font-weight: 500;
  margin-top: 40px;
}
.fazil-second__text9 {
  font-family: "Nunito", sans-serif;
  font-size: 1.5rem;
  color: #000;
  font-weight: 500;
  margin-top: 40px;
}
.fazil-second__title1 {
  font-family: "Nunito", sans-serif;
  font-size: 2rem;
  color: #000;
  font-weight: 700;
}
.fazil-second__title2 {
  font-family: "Nunito", sans-serif;
  font-size: 2rem;
  color: #000;
  font-weight: 700;
}
.fazil-second__title3 {
  font-family: "Nunito", sans-serif;
  font-size: 2rem;
  color: #000;
  font-weight: 700;
}
.fazil-second__title4 {
  font-family: "Nunito", sans-serif;
  font-size: 2rem;
  color: #000;
  font-weight: 700;
}
.fazil-second__text1 {
  margin-top: 0;
}
.fazil-second__text2 {
  margin-top: 0;
}
.fazil-second__text6 {
  margin-top: 0;
}
.fazil-second__text8 {
  margin-top: 0;
}
.fazil-second__img1, .fazil-second__img2 {
  display: block;
  margin: 60px auto;
}
.fazil-second__map {
  font-family: "Nunito", sans-serif;
  color: #000;
  font-size: 1.8rem;
  font-weight: 700;
  margin-top: 80px;
}
.fazil-second iframe {
  margin: 60px 0;
}

.main-bg {
  background-image: url("../img/sulaimantoo/bg-section.svg");
  background-position: center;
  background-repeat: auto;
}

.wedding {
  position: relative;
  padding: 25px;
}
.wedding__wrapper {
  background-image: url("../img/wedding/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 20px;
  width: 100%;
  height: 100vh;
}
.wedding__title {
  position: absolute;
  left: 5.5%;
  bottom: 100px;
  font-size: 5rem;
  font-family: "Alegreya", sans-serif;
  font-weight: 500;
  color: #fff;
}

.wedding-second {
  padding: 0 0 65px;
}
.wedding-second__text1 {
  font-family: "Nunito", sans-serif;
  font-size: 1.5rem;
  color: #000;
  font-weight: 500;
  margin-top: 40px;
}
.wedding-second__text2 {
  font-family: "Nunito", sans-serif;
  font-size: 1.5rem;
  color: #000;
  font-weight: 500;
  margin-top: 40px;
}
.wedding-second__text3 {
  font-family: "Nunito", sans-serif;
  font-size: 1.5rem;
  color: #000;
  font-weight: 500;
  margin-top: 40px;
}
.wedding-second__text4 {
  font-family: "Nunito", sans-serif;
  font-size: 1.5rem;
  color: #000;
  font-weight: 500;
  margin-top: 40px;
}
.wedding-second__text5 {
  font-family: "Nunito", sans-serif;
  font-size: 1.5rem;
  color: #000;
  font-weight: 500;
  margin-top: 40px;
}
.wedding-second__text6 {
  font-family: "Nunito", sans-serif;
  font-size: 1.5rem;
  color: #000;
  font-weight: 500;
  margin-top: 40px;
}
.wedding-second__text7 {
  font-family: "Nunito", sans-serif;
  font-size: 1.5rem;
  color: #000;
  font-weight: 500;
  margin-top: 40px;
}
.wedding-second__text8 {
  font-family: "Nunito", sans-serif;
  font-size: 1.5rem;
  color: #000;
  font-weight: 500;
  margin-top: 40px;
}
.wedding-second__text9 {
  font-family: "Nunito", sans-serif;
  font-size: 1.5rem;
  color: #000;
  font-weight: 500;
  margin-top: 40px;
}
.wedding-second__text10 {
  font-family: "Nunito", sans-serif;
  font-size: 1.5rem;
  color: #000;
  font-weight: 500;
  margin-top: 40px;
}
.wedding-second__title1 {
  font-family: "Nunito", sans-serif;
  font-size: 2rem;
  color: #000;
  font-weight: 700;
}
.wedding-second__title2 {
  font-family: "Nunito", sans-serif;
  font-size: 2rem;
  color: #000;
  font-weight: 700;
}
.wedding-second__title3 {
  font-family: "Nunito", sans-serif;
  font-size: 2rem;
  color: #000;
  font-weight: 700;
}
.wedding-second__title4 {
  font-family: "Nunito", sans-serif;
  font-size: 2rem;
  color: #000;
  font-weight: 700;
}
.wedding-second__title5 {
  font-family: "Nunito", sans-serif;
  font-size: 2rem;
  color: #000;
  font-weight: 700;
}
.wedding-second__title6 {
  font-family: "Nunito", sans-serif;
  font-size: 2rem;
  color: #000;
  font-weight: 700;
}
.wedding-second__img1, .wedding-second__img2 {
  display: block;
  margin: 60px auto;
}
.wedding-second__list1 {
  display: flex;
  flex-direction: column;
  padding-left: 25px;
}
.wedding-second__list1 li {
  list-style: decimal;
  font-family: "Nunito", sans-serif;
  font-size: 1.5rem;
  color: #000;
  font-weight: 500;
}
.wedding-second__map {
  font-family: "Nunito", sans-serif;
  color: #000;
  font-size: 1.8rem;
  font-weight: 700;
  margin-top: 80px;
}
.wedding-second iframe {
  margin: 60px 0;
}

.main-bg {
  background-image: url("../img/sulaimantoo/bg-section.svg");
  background-position: center;
  background-repeat: auto;
}

.way {
  position: relative;
  padding: 25px;
}
.way__wrapper {
  background-image: url("../img/way/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 20px;
  width: 100%;
  height: 100vh;
}
.way__title {
  position: absolute;
  left: 5.5%;
  bottom: 100px;
  font-size: 5rem;
  font-family: "Alegreya", sans-serif;
  font-weight: 500;
  color: #fff;
}

.way-second {
  padding: 0 0 65px;
}
.way-second__text1 {
  font-family: "Nunito", sans-serif;
  font-size: 1.5rem;
  color: #000;
  font-weight: 500;
  margin-top: 40px;
}
.way-second__text2 {
  font-family: "Nunito", sans-serif;
  font-size: 1.5rem;
  color: #000;
  font-weight: 500;
  margin-top: 40px;
}
.way-second__text3 {
  font-family: "Nunito", sans-serif;
  font-size: 1.5rem;
  color: #000;
  font-weight: 500;
  margin-top: 40px;
}
.way-second__text4 {
  font-family: "Nunito", sans-serif;
  font-size: 1.5rem;
  color: #000;
  font-weight: 500;
  margin-top: 40px;
}
.way-second__text5 {
  font-family: "Nunito", sans-serif;
  font-size: 1.5rem;
  color: #000;
  font-weight: 500;
  margin-top: 40px;
}
.way-second__text6 {
  font-family: "Nunito", sans-serif;
  font-size: 1.5rem;
  color: #000;
  font-weight: 500;
  margin-top: 40px;
}
.way-second__text7 {
  font-family: "Nunito", sans-serif;
  font-size: 1.5rem;
  color: #000;
  font-weight: 500;
  margin-top: 40px;
}
.way-second__text8 {
  font-family: "Nunito", sans-serif;
  font-size: 1.5rem;
  color: #000;
  font-weight: 500;
  margin-top: 40px;
}
.way-second__text9 {
  font-family: "Nunito", sans-serif;
  font-size: 1.5rem;
  color: #000;
  font-weight: 500;
  margin-top: 40px;
}
.way-second__text10 {
  font-family: "Nunito", sans-serif;
  font-size: 1.5rem;
  color: #000;
  font-weight: 500;
  margin-top: 40px;
}
.way-second__title1 {
  font-family: "Nunito", sans-serif;
  font-size: 2rem;
  color: #000;
  font-weight: 700;
}
.way-second__title2 {
  font-family: "Nunito", sans-serif;
  font-size: 2rem;
  color: #000;
  font-weight: 700;
}
.way-second__title3 {
  font-family: "Nunito", sans-serif;
  font-size: 2rem;
  color: #000;
  font-weight: 700;
}
.way-second__title4 {
  font-family: "Nunito", sans-serif;
  font-size: 2rem;
  color: #000;
  font-weight: 700;
}
.way-second__title5 {
  font-family: "Nunito", sans-serif;
  font-size: 2rem;
  color: #000;
  font-weight: 700;
}
.way-second__title6 {
  font-family: "Nunito", sans-serif;
  font-size: 2rem;
  color: #000;
  font-weight: 700;
}
.way-second__text1 {
  margin-top: 0;
  margin-bottom: 30px;
}
.way-second__text2 {
  margin-top: 0;
  margin-bottom: 30px;
}
.way-second__text4 {
  margin-top: 0;
  margin-bottom: 30px;
}
.way-second__img1 {
  display: block;
  margin: 60px auto;
}
.way-second__img2 {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin: 60px 0;
}
.way-second__list1 {
  display: flex;
  flex-direction: column;
  padding-left: 25px;
}
.way-second__list1 li {
  list-style: decimal;
  font-family: "Nunito", sans-serif;
  font-size: 1.5rem;
  color: #000;
  font-weight: 500;
}
.way-second__map {
  font-family: "Nunito", sans-serif;
  color: #000;
  font-size: 1.8rem;
  font-weight: 700;
  margin-top: 80px;
}
.way-second iframe {
  margin: 60px 0;
}

.main-bg {
  background-image: url("../img/sulaimantoo/bg-section.svg");
  background-position: center;
  background-repeat: auto;
}

.hospitality {
  position: relative;
  padding: 25px;
}
.hospitality__wrapper {
  background-image: url("../img/hospitality/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 20px;
  width: 100%;
  height: 100vh;
}
.hospitality__title {
  position: absolute;
  left: 5.5%;
  bottom: 100px;
  font-size: 5rem;
  font-family: "Alegreya", sans-serif;
  font-weight: 500;
  color: #fff;
}

.hospitality-second {
  padding: 0 0 65px;
}
.hospitality-second__text1 {
  font-family: "Nunito", sans-serif;
  font-size: 1.5rem;
  color: #000;
  font-weight: 500;
  margin-top: 40px;
}
.hospitality-second__text2 {
  font-family: "Nunito", sans-serif;
  font-size: 1.5rem;
  color: #000;
  font-weight: 500;
  margin-top: 40px;
}
.hospitality-second__text3 {
  font-family: "Nunito", sans-serif;
  font-size: 1.5rem;
  color: #000;
  font-weight: 500;
  margin-top: 40px;
}
.hospitality-second__text4 {
  font-family: "Nunito", sans-serif;
  font-size: 1.5rem;
  color: #000;
  font-weight: 500;
  margin-top: 40px;
}
.hospitality-second__text5 {
  font-family: "Nunito", sans-serif;
  font-size: 1.5rem;
  color: #000;
  font-weight: 500;
  margin-top: 40px;
}
.hospitality-second__text6 {
  font-family: "Nunito", sans-serif;
  font-size: 1.5rem;
  color: #000;
  font-weight: 500;
  margin-top: 40px;
}
.hospitality-second__text7 {
  font-family: "Nunito", sans-serif;
  font-size: 1.5rem;
  color: #000;
  font-weight: 500;
  margin-top: 40px;
}
.hospitality-second__text8 {
  font-family: "Nunito", sans-serif;
  font-size: 1.5rem;
  color: #000;
  font-weight: 500;
  margin-top: 40px;
}
.hospitality-second__text9 {
  font-family: "Nunito", sans-serif;
  font-size: 1.5rem;
  color: #000;
  font-weight: 500;
  margin-top: 40px;
}
.hospitality-second__text10 {
  font-family: "Nunito", sans-serif;
  font-size: 1.5rem;
  color: #000;
  font-weight: 500;
  margin-top: 40px;
}
.hospitality-second__title1 {
  font-family: "Nunito", sans-serif;
  font-size: 2rem;
  color: #000;
  font-weight: 700;
}
.hospitality-second__title2 {
  font-family: "Nunito", sans-serif;
  font-size: 2rem;
  color: #000;
  font-weight: 700;
}
.hospitality-second__title3 {
  font-family: "Nunito", sans-serif;
  font-size: 2rem;
  color: #000;
  font-weight: 700;
}
.hospitality-second__title4 {
  font-family: "Nunito", sans-serif;
  font-size: 2rem;
  color: #000;
  font-weight: 700;
}
.hospitality-second__title5 {
  font-family: "Nunito", sans-serif;
  font-size: 2rem;
  color: #000;
  font-weight: 700;
}
.hospitality-second__title6 {
  font-family: "Nunito", sans-serif;
  font-size: 2rem;
  color: #000;
  font-weight: 700;
}
.hospitality-second__text1 {
  margin-top: 0;
  margin-bottom: 30px;
}
.hospitality-second__text2 {
  margin-top: 0;
  margin-bottom: 30px;
}
.hospitality-second__img1, .hospitality-second__img2 {
  display: block;
  margin: 60px auto;
}
.hospitality-second__list1, .hospitality-second__list2 {
  display: flex;
  flex-direction: column;
  padding-left: 25px;
  margin-top: 30px;
}
.hospitality-second__list1 li, .hospitality-second__list2 li {
  list-style: disc;
  font-family: "Nunito", sans-serif;
  font-size: 1.5rem;
  color: #000;
  font-weight: 500;
}
.hospitality-second__map {
  font-family: "Nunito", sans-serif;
  color: #000;
  font-size: 1.8rem;
  font-weight: 700;
  margin-top: 80px;
}
.hospitality-second iframe {
  margin: 60px 0;
}

.main-bg {
  background-image: url("../img/sulaimantoo/bg-section.svg");
  background-position: center;
  background-repeat: auto;
}

.nooruz {
  position: relative;
  padding: 25px;
}
.nooruz__wrapper {
  background-image: url("../img/nooruz/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 20px;
  width: 100%;
  height: 100vh;
}
.nooruz__title {
  position: absolute;
  left: 5.5%;
  bottom: 100px;
  font-size: 5rem;
  font-family: "Alegreya", sans-serif;
  font-weight: 500;
  color: #fff;
}

.nooruz-second {
  padding: 0 0 65px;
}
.nooruz-second__text1 {
  font-family: "Nunito", sans-serif;
  font-size: 1.5rem;
  color: #000;
  font-weight: 500;
  margin-top: 40px;
}
.nooruz-second__text2 {
  font-family: "Nunito", sans-serif;
  font-size: 1.5rem;
  color: #000;
  font-weight: 500;
  margin-top: 40px;
}
.nooruz-second__text3 {
  font-family: "Nunito", sans-serif;
  font-size: 1.5rem;
  color: #000;
  font-weight: 500;
  margin-top: 40px;
}
.nooruz-second__text4 {
  font-family: "Nunito", sans-serif;
  font-size: 1.5rem;
  color: #000;
  font-weight: 500;
  margin-top: 40px;
}
.nooruz-second__text5 {
  font-family: "Nunito", sans-serif;
  font-size: 1.5rem;
  color: #000;
  font-weight: 500;
  margin-top: 40px;
}
.nooruz-second__text6 {
  font-family: "Nunito", sans-serif;
  font-size: 1.5rem;
  color: #000;
  font-weight: 500;
  margin-top: 40px;
}
.nooruz-second__text7 {
  font-family: "Nunito", sans-serif;
  font-size: 1.5rem;
  color: #000;
  font-weight: 500;
  margin-top: 40px;
}
.nooruz-second__text8 {
  font-family: "Nunito", sans-serif;
  font-size: 1.5rem;
  color: #000;
  font-weight: 500;
  margin-top: 40px;
}
.nooruz-second__text9 {
  font-family: "Nunito", sans-serif;
  font-size: 1.5rem;
  color: #000;
  font-weight: 500;
  margin-top: 40px;
}
.nooruz-second__text10 {
  font-family: "Nunito", sans-serif;
  font-size: 1.5rem;
  color: #000;
  font-weight: 500;
  margin-top: 40px;
}
.nooruz-second__text11 {
  font-family: "Nunito", sans-serif;
  font-size: 1.5rem;
  color: #000;
  font-weight: 500;
  margin-top: 40px;
}
.nooruz-second__text12 {
  font-family: "Nunito", sans-serif;
  font-size: 1.5rem;
  color: #000;
  font-weight: 500;
  margin-top: 40px;
}
.nooruz-second__text13 {
  font-family: "Nunito", sans-serif;
  font-size: 1.5rem;
  color: #000;
  font-weight: 500;
  margin-top: 40px;
}
.nooruz-second__text1 {
  margin-top: 0;
  margin-bottom: 30px;
}
.nooruz-second__text2 {
  margin-top: 0;
  margin-bottom: 30px;
}
.nooruz-second__img1 {
  display: block;
  margin: 60px auto;
}
.nooruz-second__img2 {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin: 60px 0;
}
.nooruz-second__list1, .nooruz-second__list2 {
  display: flex;
  flex-direction: column;
  padding-left: 25px;
}
.nooruz-second__list1 li, .nooruz-second__list2 li {
  list-style: disc;
  font-family: "Nunito", sans-serif;
  font-size: 1.5rem;
  color: #000;
  font-weight: 500;
}
.nooruz-second__list3 {
  display: flex;
  flex-direction: column;
  padding-left: 25px;
  margin-top: 30px;
}
.nooruz-second__list3 li {
  list-style: decimal;
  font-family: "Nunito", sans-serif;
  font-size: 1.5rem;
  color: #000;
  font-weight: 500;
}
.nooruz-second__img3 {
  display: flex;
  justify-content: center;
  gap: 50px 150px;
  flex-wrap: wrap;
  margin: 60px 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html, body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 90.2%;
  margin: auto;
  padding: 0 15px;
}/*# sourceMappingURL=style.css.map */